 * {
     box-sizing: border-box;
 }

 img {
    max-width: 100%;
 }

 body {
     font-family: 'Lato', sans-serif;
     font-size: 14px;
 }

.slider-wrapper {
    height: 736px;
    background-image: url("../images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slider-wrapper:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.menu-left ul,
.menu-right ul {
    display: flex;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0 60px;
}

 .header-menu ul li {
     padding: 20px;
 }

 .header-menu ul li a {
     text-transform: uppercase;
     font-size: 12px;
     color: #c3a281;
     position: relative;
 }

 .header-menu ul li.active a,
 .header-menu ul li:hover a {
     color: #fff;
     text-decoration: none;
 }
 .header-menu ul li:hover a:before,
 .header-menu ul li.active a:before {
     opacity: 1;
 }
 .header-menu ul li a:before {
     content: "";
     width: 100%;
     height: 1px;
     background-color: #c3a281;
     left: 0;
     bottom: -3px;
     position: absolute;
     opacity: 0;
 }
 .slider-content {
     position: absolute;
     z-index: 1;
     top: 50%;
     left: 0;
     right: 0;
     transform: translateY(-50%);
 }
 .slider-inner {
     display: flex;
     align-items:  center;
     justify-content: center;
     flex-direction: column;
 }
 .slider-action {
     margin-top: 60px;
 }
 .slider-inner a {
     display: inline-block;
     font-size: 18px;
     color: #000;
     line-height: 44px;
     padding: 0 25px;
     background-color: #c3a281;
     text-align: center;
     margin: 0 15px;
     text-transform: uppercase;
     transition: all 0.3s ease;
 }
 .slider-inner a:hover {
     text-decoration: none;
     background-color: #000;
     color: #c3a281;

 }

 .owl-carousel {
     height: 300px;
     background-color: #fff;
 }
 /*css content*/
 .content-img{
    
    height: 720px;
    background-image: url("../images/our__story.png");
    
    background-size: cover;
    position: relative;
    
 }
 .img-content{
    height: 616px;
    display: flex;
    
    align-items: center;
    max-width: 100%;

    

    
    
 }
  .content-left{
   margin-top: 60px;
   width: 100%;

 }
 .content-left img{
    width: 100%;
  
  
    transform: translateX(-15%);
  
 }
 .content-right h1{
    color: #b8b294;
 }
 p.text_out {

    width: 68%;
    text-align: justify;



}
 .content-right h5 p{

  
 }
 .button_content {
    background-color: #c3a281;
    text-align: center;
    width: 109px;
    height: 33px;
    color: black;
    padding-top: 6px;
    margin-top: 33px;

}
.button_content:hover{
    background-color: black;
}
 a.button_read_more:hover{
    color: blue;
 }
 a.button_read_more {
    color: black;
    padding-top: 10px;
    text-decoration: none;
    
}
h1.out__story {
    /* margin-top: 38px; */
    margin: revert;
}
.content_menu{
    margin-top: 50px;
   
    

 }
 .content_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
   

 }
 .content_menu ul li{
    text-decoration: none;
    padding: 15px 50px;
    font-weight: bold;
 }
 
 .content_menu ul li:hover  a{
     color: yellow;
     text-decoration: none;
 }

 .next_left{
    position: absolute;
    top: 41%;
    left: 0;
   

   
    
 }
 .next_right{
  position: absolute;
  top: 41%;
    right: 0;
 }
 /*css content one*/
.contentone_img{
    height: 687px;
    background-image: url("../images/banner__picture.png");
    background-size: cover;
    position: relative;
}

.col-6{
    margin-top: 40px;
    display: flex;
    /*width: 100%;*/
    align-items: center;
}

.contentone_phai{
    position: relative;
}
.button_contentone_phai{
    position: absolute;
    text-align: center;
    
    top: 45%;
    left: 45%;

    background-color: #b8b294;
    color: white;
    font-size: 60px;
    height: 90px;
    width: 90px;
    

}
a .button_contentone_phai:hover{
    background-color: blue;
}
p.hihi{
    display: flex;
    font-size: 30px;    
    font-weight: bold;
    width: 50%;
}
/*css content two*/
.contenttwo_img{
    height: 800px;
    background-image: url('../images/contact__us.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.text_contentwo{
    text-align: center;
}
.text_contentwo h1,
.text_contentwo p
{
    color: #b8b294;

}
.content_lon{
    right: 0;
}


.product-wrap {
    display: flex;
    flex-wrap: wrap;
}
.col-6.contentone_trai,
.col-6.contentone_phai{
    width: 100%;
}
.col-6.contentone_phai img{
    width: 100%;
    height: 100%;

}
.product-item {
    width: 50%;
    padding: 10px;
}
.product-item img{
     
    max-width: 99%;
    padding-right: -26px;
    margin-top: 15px;
    padding-right: 10px;

}
.product-content{
    display: flex;
    flex-wrap: wrap;
}
.product_content_img{
    width: 50%;
    padding: 10px;
}
.product_content_img_phai{
     width: 100%;

}
.text_contentwo .col-6 {
    padding-left: 0;
    padding-right: 0;
}
.row.content {
    margin-left: 77px;
}
/*css content tree*/
.content-tree{
    height: 629px;
    background-image: url('../images/about__us.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content-col-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    
}
.product_content_tree img{
    height: 510px;
    padding-right:25px;
}
.row.conten_1 {
    padding-left: 101px;
}
/*css map-contact*/
.contact{
    display: flex;
    justify-content: center;

}
.map-contact{
     height: 950px;
    background-image: url('../images/content__top.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.contact-map{
    
    right: auto;
    position: relative;
}
.text-contact{
    margin-right: 30px;
    margin-top: 150px;
    margin-left: -15px;

    left: auto;
}
.text-contact{
    width: 278px;
}
iframe{
    margin-top: 150px;
    width: 700px;
    height: 695px;
}
.send{
    background-color: #81af81f7;
    width: 668px;
    height: 488px;
    position: absolute;
    top: 58%;
    left: -72%;

}
..form-control {
    display: block;
    width: 74%;
    padding: .5rem .75rem;
    font-size: 1rem;
    /* line-height: 1.25; */
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: .25rem; */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    text-align: center;
    padding-right: 10%;
    margin-right: -2px;
}
input {
    background-color: #81af81f7;
    color: white;
    width: 92%;
    padding: 10px;
    margin: 22px;
    border: 1px solid white;
}
textarea{
background-color: #81af81f7;
    color: white;
    width: 92%;
    padding: 10px;
    margin: 22px;
    border: 1px solid white;
}
.button {
    background-color: white;
    padding: 10px;
    width: 10%;
    margin: 0 22px 0;
}
/*css footer*/
.footer-image{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 360px;
}
table{
    color: white;
    margin-left: 10%;
    
    
}
tr td,
tr th{
    padding: 7px;
    padding-left: 38px;

}
hr {
    background-color: #00ffa7b0;
}
tr td{
    opacity: 0.5;
}
.logo-footer{
    right: auto;
}
.logo-footer {
    /* right: auto; */
    padding: 10px 10px 10px 75%;
    margin-top: -20px;
}